.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tsv


data/raw_eye_data/

*.html

data/face_prince/FacePrince_Export_Sept2019.tsv

data/face_prince/FacePrince_raw_eye_data.Rdata

output/processed_data/combined_data.Rdata

output/posterFigure.png

*.afdesign

*.pdf

data/fp_health_to_check.csv

*.docx

zz_archive/lp04-data-analysis.knit.md

zz_archive/lp04-data-analysis.utf8.md

output/figures/

output/processed_data/csv_files/eyemovements_all_data.csv

output/processed_data/csv_files/pupil_all_data.csv

scripts/figure/
